@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
